.w {
    width: 90%;
    height: 44px;
    margin: 0 auto;
}
.crumbs-bar {
    position: relative;
    padding-top: 15px;
    margin-bottom: 5px;
    z-index: 6;
}
.crumbs-nav {

    line-height: 24px;
    padding-right: 125px;
}
.clearfix {
    *zoom: 1;
}
.crumbs-nav-item {
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
}
.crumbs-first {
    color: #999;
    font-family: SimSun;
}
em, i, u {
    font-style: normal;
}
.crumbs-arrow {
    float: left;
    margin-right: 5px;
    font-family: SimSun;
    font-style: normal;
}
.selector {
    border-top: 1px solid #DDD;
    background: #FFF;
    margin-bottom: 10px;
}
.selector .s-brand {
    _position: relative;
}
.selector .s-brand, .selector .s-line {
    width: auto;
    height: auto;
}
.selector .sl-wrap {
    position: relative;
    _zoom: 1;
    line-height: 34px;
    border-bottom: 1px solid #DDD;
    background: #f3f3f3;
}
.selector .sl-key {
    float: left;
    width: 100px;
    padding-left: 10px;
    white-space: nowrap;
    overflow: hidden;
}
.selector .sl-value {
    margin-left: 110px;
    padding-right: 130px;
    padding-left: 10px;
    overflow: hidden;
    zoom: 1;
    background: #fff;
}
.selector .sl-b-letter {
    display: none;      /*显示字母*/
    float: left;
    overflow: hidden;
    zoom: 1;
    padding-top: 6px;
    margin-bottom: 10px;
}
.selector .sl-b-letter li.curr, .selector .sl-b-letter li:hover {
    border-color: #e4393c;
    color: #e4393c;
}
.selector .sl-b-letter li {
    padding: 0 8px;
}
.selector .sl-b-letter li {
    float: left;
    height: 20px;
    line-height: 20px;
    border: 1px solid #FFF;
    padding: 0 3px;
    cursor: default;
    text-align: center;
    color: #005aa0;
}
.selector .sl-b-search {
    display: none;  /*显示搜索框*/
    float: left;
    width: 188px;
    height: 23px;
    border: 1px solid #ccc;
    margin-top: 5px;
    margin-left: 5px;
}
.selector .sl-b-search .placehoder {
    color: #999;
}
.selector .sl-b-search .input-txt {
    float: left;
    border: 0 none;
    width: 158px;
}
.input-txt {
    height: 17px;
    line-height: 17px;
    border: 1px solid #CCC;
    padding: 3px;
    width: 145px;
}
.clr {
    visibility: hidden;
}
.clear, .clr {
    display: block;
    overflow: hidden;
    clear: both;
    height: 0;
    line-height: 0;
    font-size: 0;
}
.selector .sl-v-list {
    overflow: hidden;
    zoom: 1;
    padding-top: 4px;
    margin:0px;
}
.selector .s-brand .sl-v-list .v-fixed {
    height: 60px;/* 显示所有品牌*/
}
.selector .sl-v-list ul {
    float: left;
    overflow: hidden;
    zoom: 1;
    position: relative;
    height: 30px;
    margin-left: -35px;
}
ol, ul {
    list-style: none;
}
.J_valueList  li{
    display: block;

}
.selector .s-brand .sl-v-list li {
    width: 130px;
    margin-right: 5px;
}
.selector .sl-v-list li {
    float: left;
    _display: inline;
    margin-right: 50px;
    margin-bottom: 4px;
    height: 26px;
    line-height: 26px;
}
.selector .s-brand .sl-v-list li a {
    width: 130px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.selector .sl-v-list li a {
    float: left;
    white-space: nowrap;
    zoom: 1;
    color: #005aa0;
}
a {
    color: #666;
    text-decoration: none;
}
.selector .sl-b-selected {
    overflow: hidden;
    zoom: 1;
    display: none;
}
.selector .sl-b-selected .sl-b-key, .selector .sl-b-selected .sl-v-list {
    float: left;
}
.selector .sl-btns {
    display: none;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
.selector .sl-btns .btn-primary {
    margin-right: 8px;
}
.btn.disabled {
    padding: 4px 13px 5px;
    border: 1px solid #DDD;
    background: #FFF;
    cursor: default;
    color: #CCC;
    opacity: .2;
    filter: alpha(Opacity=20);
}
.selector .sl-ext {
    position: absolute;
    top: 5px;
    right: 10px;
    width: 120px;
    height: auto;
    line-height: 22px;
    overflow: hidden;
    zoom: 1;
}
.selector .sl-ext .sl-e-more {
    float: left;
    margin-right: 10px;
    position: relative;
    width: 59px;
    height: 23px;
    line-height: 23px;
    padding: 0 7px 0 4px;
    background: #fff;
    visibility: hidden;
    color: #333;
    border: 1px solid #ddd;

}

.selector .sl-ext .sl-e-more i{
    background: url(//misc.360buyimg.com/product/search/0.0.17/css/i/search.ele.png) no-repeat 9999px 9999px;
    -webkit-transition: background-position .15s ease-in-out;
    -moz-transition: background-position .15s ease-in-out;
    transition: background-position .15s ease-in-out;
}
.selector .sl-ext .sl-e-more i {
    position: absolute;
    top: 1px;
    right: 2px;
    display: block;
    width: 20px;
    height: 20px;
    background-position: 4px 7px;
==
}
.selector .sl-ext .sl-e-more:hover{
    color:red;
}
.selector .sl-ext .sl-e-more:hover i{
    background-position:4px -10px;
}
.selector .sl-ext .sl-e-multiple {
    float: left;
    height: 23px;
    line-height: 23px;
    border: 1px solid #DDD;
    padding: 0 3px 0 18px;
    position: relative;
    background: #fff;
    color: #333;
}

.selector .sl-ext .sl-e-multiple i {
    background: url(//misc.360buyimg.com/product/search/0.0.17/css/i/search.ele.png) no-repeat 9999px 9999px;
    -webkit-transition: background-position .15s ease-in-out;
    -moz-transition: background-position .15s ease-in-out;
    transition: background-position .15s ease-in-out;
}
.selector .sl-ext .sl-e-multiple i {
    position: absolute;
    display: block;
    font-style: normal;
    left: 3px;
    top: 1px;
    width: 20px;
    height: 20px;
    background-position: 0 -63px;
}
.selector .sl-ext .sl-e-multiple:hover{
    color:red;
}
.selector .sl-ext .sl-e-multiple:hover i{
    background-position:0px -85px;
}
.selector .s-senior .sl-wrap {
    height: 35px;
    line-height: 35px;
    z-index: 5;

}
.selector .sl-wrap {
    position: relative;
    _zoom: 1;
    line-height: 34px;
    border-bottom: 1px solid #DDD;
    background: #f3f3f3;
}
.selector .sl-v-tab {
    height: 35px;
}
.selector .sl-tab-trigger {
    height: 23px;
    padding-top: 5px;
}
.clearfix {
    *zoom: 1;
}
.selector .sl-tab-trigger .trig-item {
    float: left;
    height: 23px;
    line-height: 23px;
    padding: 0 3px 0 6px;
    border: 1px solid #ddd;
    background: #fff;
    margin-right: 15px;
}
.selector .sl-tab-trigger .trig-item .text {
    color: #005aa0;
    display: inline-block;
    vertical-align: top;
}
.selector .sl-tab-trigger .trig-item .arrow {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: top;
    background: url(img/search.ele.png) no-repeat 4px 7px;
}
.selector .s-senior .sl-value {
    overflow: visible;
    padding-right: 10px;
}
.selector .sl-value {
    margin-left: 110px;
    padding-right: 130px;
    padding-left: 10px;
    overflow: hidden;
    zoom: 1;
    background: #fff;
}
.selector .sl-tab-trigger .trig-item:hover{
    text-decoration: none;
}
.selector .sl-tab-trigger .trig-item.trig-curr{
    height: 24px;
    border-color: #999;
    border-bottom: medium none;
    text-decoration: none;
    position: relative;
    z-index: 2;
}
.selector .sl-tab-cont-item {
    /*width: 1370px;*/
    position:relative;
    border: 1px solid #999;
    margin-top: -7px;
    width: 100%;
    height: auto;
    background: white
}
.selector .s-senior .sl-v-list ul {
    height: auto;
}
.selector .sl-tab-cont-item .btn-multiple {
    position: absolute;
    top: 10px;
    right: 10px;
}
.sl-tab-cont-item:hover{
    display: block;
}
.btn-multiple {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    border: 1px solid #DDD;
    padding: 0 3px 0 18px;
    position: relative;
    background: #fff;
    color: #333;
}
.btn-multiple i {
    position: absolute;
    display: block;
    font-style: normal;
    left: 3px;
    top: 0;
    width: 13px;
    height: 20px;
    background: url(//misc.360buyimg.com/product/search/0.0.17/css/i/search.ele.png) no-repeat 0 -63px;
    -webkit-transition: background-position .15s ease-in-out;
    -moz-transition: background-position .15s ease-in-out;
    transition: background-position .15s ease-in-out;
}